
#titulo-col{
    margin-top: 0px;
    margin-bottom: 0px;
}
.row img{
    height: 50vh;
}


.columnas .card{
    height: 110%;
}

#eliminar{
    display: none;
}

#end{
    margin-bottom: 1.5rem;
}

#footer-col{
    text-align: end;
    align-items: end;
    align-self: end;
}
