
#titulo-col{
    margin-top: 0px;
    margin-bottom: 0px;
}
.row img{
    height: 50vh;
}




#eliminar{
    display: none;
}

#end{
    margin-bottom: 1.5rem;
}

#footer-col{
    text-align: end;
}
