body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#006064  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  width: 90vw;
  margin: 4%;

  padding: 0;
}
/* 
#bloc
{
  width: 95vw;
  margin: 2%;
}

#bloc img{
  height: 80vh;
}

#bloc .horizontal{
  height: 70%;
}

.col img{
  width: 29vw;
}

.page-footer span{
  padding-left: 20px;
}
.page-footer a{
  padding-right: 20px;
}

p {
  text-align: justify;
}

h5 {
  margin-left: 0.5em;
}

.columnas .card-stacked{
  height: 60vh;
}

#logo{
  margin: 5px;
  width: 20%;
  height: 20%;
}
 */